<%= form_for @wiki, html: { class: 'form-horizontal' } do |f| %>

	<%= control_group_tag(@wiki.errors[:title]) do %>
		<%= f.label :title, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :title %>
		</div>
	<% end %>
	<%= control_group_tag(@wiki.errors[:body]) do %>
		<%= f.label :body, class: 'control-label' %>
		<div class="controls">
			<%= f.text_area :body, rows: 8 %>
		</div>
	<% end %>
	<% if current_user.role? :premium_member %>
		<%= control_group_tag(@wiki.errors[:private]) do %>
			<%= f.label :private, class: 'control-label' %>
			<div class="controls">
				<%= f.check_box :private %>
			</div>
		<% end %>
	<% end %>
	<div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
	
<% end %>
